
<nav class="z-20 absolute flex justify-center w-full py-6 bg-gradient-to-t from-transparent to-yellow-900">
  <ul class="left-1/2 flex items-center justify-start max-w-6xl mx-auto">
    <li class="flex items-center justify-start " >
      <a routerLink="/home" class="cursor-pointer"><h1 class="text-white text-2xl"><i class="fa-solid fa-bed "></i> Le Jardin sur l'eau</h1></a>
    </li>

    <li>
      <a routerLink="/chambres" class="cursor-pointer text-white px-6 text-2xl">Les chambres</a>
      <a routerLink="/contact" class="cursor-pointer text-white px-6 text-2xl">Les dortoirs</a>
      <a routerLink="/contact" class="text-white px-6 text-2xl">Aire sur l'Adour</a>
      <a routerLink="/contact" class="text-white px-6 text-2xl">Things to Do</a>
    </li>

  </ul>
</nav>